process {
    publishDir = [
        mode: 'copy',
        overwrite: 'true'
    ]

    withName: 'SAM_TO_BAM' {
        publishDir = [
            path: "${params.outdir}/bam/",
            pattern: "*.bam",
            saveAs: {
               filename -> if (filename.endsWith(".bam")) file(filename).getName()
            }
        ]
    }

    withName: 'HICUP_GENERATE_REPORT' {
        publishDir = [
            path: "${params.outdir}/QC/",
            pattern: "*html",
            saveAs: {
               filename -> if (filename.endsWith(".html")) file(filename).getName()
            }
        ]
    }

    withName: 'MAKE_PAIRS_FILE' {
        publishDir = [
            path: "${params.outdir}/pairs/",
            pattern: "*pairs.gz*",
        ]
    }

    withName: 'BALANCE_MCOOL' {
        publishDir = [
            path: "${params.outdir}/matrices/",
            pattern: "*.mcool"
        ]
    }

    withName: 'MAKE_MATRIX' {
        publishDir = [
            path: "${params.outdir}/matrices/",
            pattern: "*.hic",
        ]
    }

    withName: 'MULTIQC' {
        publishDir = [
            path: "${params.outdir}"
        ]
    }
}
