process {
    withName: 'SAM_TO_BAM' {
        publishDir = [
            path: "${params.outdir}/bam/",
            mode: 'copy',
            overwrite: 'true',
            pattern: "*.bam",
        ]
    }

    withName: 'HICUP_GENERATE_REPORT' {
        publishDir = [
            path: "${params.outdir}/QC/",
            mode: 'copy',
            overwrite: 'true',
            pattern: "*html",
        ]
    }

    withName: 'MAKE_PAIRS_FILE' {
        publishDir = [
            path: "${params.outdir}/pairs/",
            mode: 'copy',
            overwrite: 'true',
            pattern: "*pairs.gz*",
        ]
    }

    withName: 'BALANCE_MCOOL' {
        publishDir = [
            path: "${params.outdir}/matrices/",
            mode: 'copy',
            overwrite: 'true',
            pattern: "*.mcool"
        ]
    }

    withName: 'MAKE_MATRIX' {
        publishDir = [
            path: "${params.outdir}/matrices/",
            mode: 'copy',
            overwrite: 'true',
            pattern: "*.hic",
        ]
    }

    withName: 'MULTIQC' {
        publishDir = [
            path: "${params.outdir}",
            mode: 'copy',
            overwrite: 'true',
        ]
    }
}
