/*
* MIT License
*
* Copyright (c) 2020 Tobias Neumann, Daniel Malzl
*
* Permission is hereby granted, free of charge, to any person obtaining a copy
* of this software and associated documentation files (the "Software"), to deal
* in the Software without restriction, including without limitation the rights
* to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
* copies of the Software, and to permit persons to whom the Software is
* furnished to do so, subject to the following conditions:
*
* The above copyright notice and this permission notice shall be included in all
* copies or substantial portions of the Software.
*
* THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
* IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
* FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
* AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
* LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
* OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
* SOFTWARE.
*/

/*
Resource management
*/

process {

    // error strategy
    errorStrategy = { task.attempt < 3 ? 'retry' : 'finish' }
    maxRetries = 3

    // basic resources
    cpus = 1
    time = { 1.h * task.attempt }
    memory = { 1.GB * task.attempt }

    // process-specific resources
    withName: buildBowtie2Index {
        cpus = 12
        memory = { 20.GB * task.attempt }
        time = { 4.h * task.attempt }
    }
    withName: makeHicupDigest {
        cpus = 4
        memory = { 5.GB * task.attempt }
        time = { 1.h * task.attempt }
    }
    withName: trim {
        cpus = 10
        memory = { 16.GB * task.attempt }
        time = { 24.h * task.attempt }
    }
    withName: splitFastqs {
        cpus = 2
        memory = { 8.GB * task.attempt }
        time = { 8.h * task.attempt }
    }
    withName: hicupTruncater {
        cpus = 2
        memory = { 8.GB * task.attempt }
        time = { 4.h * task.attempt }
    }
    withName: hicupMapper {
        cpus = 4
        memory = { 16.GB * task.attempt }
        time = { 8.h * task.attempt }
    }
    withName: hicupFilter {
        cpus = 1
        memory = { 8.GB * task.attempt }
        time = { 8.h * task.attempt }
    }
    withName: hicupFilter {
        cpus = 1
        memory = { 8.GB * task.attempt }
        time = { 8.h * task.attempt }
    }
    withName: catSam {
        cpus = 1
        memory = { 8.GB * task.attempt }
        time = { 8.h * task.attempt }
    }
    withName: hicupDeduplicator {
        cpus = 1
        memory = { 32.GB * task.attempt }
        time = { 24.h * task.attempt }
    }
    withName: hicupReporter {
        cpus = 1
        memory = { 4.GB * task.attempt }
        time = { 1.h * task.attempt }
    }
    withName: sam2bamConverter {
        cpus = 4
        memory = { 16.GB * task.attempt }
        time = { 8.h * task.attempt }
    }
    withName: pairixMaker {
        cpus = 20
        memory = { 100.GB * task.attempt }
        time = { 12.h * task.attempt }
    }
    withName: juicerHic {
        cpus = 24
        memory = { 200.GB * task.attempt }
        time = { 12.h * task.attempt }
    }
    withName: baseBuilder {
        cpus = 24
        memory = { 64.GB * task.attempt }
        time = { 4.h * task.attempt }
    }
    withName: zoomifyBase {
        cpus = 10
        memory = { 32.GB * task.attempt }
        time = { 8.h * task.attempt }
    }
    withName: mcoolNormalizer {
        cpus = 24
        memory = { 100.GB * task.attempt }
        time = { 24.h * task.attempt }
    }
}

timeline {
	enabled = true
}

report {
	enabled = true
}
